# MODULO 4: TRABAJANDO CON DATOS EN PYTHON
### Autor: Guillermo Alfonso Muñiz Hermosillo
### Matricula: A01793101
### Curso: Ciencia y Analitica de Datos
<h1><center>PROGRESO DEL CURSO:</center></h1>
<img src='../A01793101_Progreso_Modulo4.png'></src>

## Leyendo Archivos usando el metodo OPEN
Usamos la funcion Open para abrir un archivo:

Ejemplo: f1 = open("/resources/data/Example.txt", w)
Donde:

* f1 = variable donde el contenido del archivo sera guardado
* open = Nombre de la funcion predefinida para abrir archivos:
    - Argumentos:
        1. <"DIRECCION_AL_ARCHIVO">: Una cadena indicando la ubicacion en el sistema del archivo a abrir
        2. "Mode" Una cadena indicando el tipo de permisos concedidos para abrir el archivo (w = escribir, r= leer, a= agregar)

In [2]:
f1 = open("housing.csv", "w") #Abrimos un archivo en modo de escritura

In [4]:
print("Name: ",f1.name) # El metodo Name se usa para obtener el nombre del archivo
print("Mode: ",f1.mode) # Obtenemos el modo en el que el archivo fue abierto
f1.close() #Cerramos el archivo

Name:  housing.csv
Mode:  w

Si usamos la sentencia *with* automaticamente se cierra el archivo

In [6]:
with open("sample.txt", "r") as f1:
    file_stuff = f1.read()
    print("COSAS EN EL ARCHIVO: ", file_stuff)
print("ESTA CERRADO?: ", f1.closed)
print("COSAS FUERA: ",  file_stuff)

COSAS EN EL ARCHIVO:  Hola Memo
Como Estas

ESTA CERRADO?:  True
COSAS FUERA:  Hola Memo
Como Estas

Podemos leer el archivo por lineas usando el metodo *readlines* , el cual guarda las lineas en una lista indexada

In [7]:
with open("sample.txt", "r") as f1:
    file_stuff = f1.readlines()
    print("LINEAS DEL ARCHIVO: ", file_stuff)

LINEAS DEL ARCHIVO:  ['Hola Memo \n', 'Como Estas\n']

En el metodo *read* podemos especificar el numero de caracteres que quisieramos leer:

In [12]:
with open("sample.txt", "r") as f1:
    file_stuff = f1.read(4)
    print("LEYENDO 4 Caracteres en las LINEAS DEL ARCHIVO: ", file_stuff)
    file_stuff = f1.read(5)
    print("LEYENDO 5 Caracteres en las LINEAS DEL ARCHIVO: ", file_stuff)

LEYENDO 4 Caracteres en las LINEAS DEL ARCHIVO:  Hola
LEYENDO 5 Caracteres en las LINEAS DEL ARCHIVO:   Memo

Se puede hacer lo mismo con *readline* sin embargo, readline solo puede leer una linea a la vex

In [15]:
with open("example1.txt", "r") as f1:
    print(f1.readline(20)) # Ni leee despues de la primera linea
    print(f1.read(20)) # Lee los siguientes 20 caracteres

This is line 1

This is line 2
This

## ESCRIBIR EN ARCHIVOS
Podemos escribir en archivos usando la funcion open.
Y agregar contenido con la funcion *write()*

In [26]:
with open("example2.txt", "w") as f2:
    f2.write("Primera Linea de Texto\n")
    f2.write("Segunda Linea de Texto\n")

In [27]:
# Podemos usar un for para escribir multiples lineas
Lines = ["Primera Linea\n", "Segunda Linea\n", "Tercera Linea\n"]
with open("example2.txt", "w") as f2:
    for line in Lines:
        f2.write(line)

Si usamos el modo *"a"* cualquier comando enviado en write sera añadido al archivo.

In [28]:
with open("example2.txt", "a") as f2:
    f2.write("Cuarta Linea\n")

Podemos copiar un archivo a otro de la siguiente manera

In [29]:
with open("example2.txt", "r") as readFile:  #Abrimos el archivo que del que vamos a copiar el contenido en modo lectura
    with open("example3.txt", "w") as writeFile: #Creamos el archivo en el que copiaremos en modo escritura
        for line in readFile: # Del archivo de lectura leemos linea por linea
            writeFile.write(line) # En el archivo de escritura escribimos linea por linea

### Modos adicionales al abrir archivos
No solo podemos abrir los archivos con los modos w, r, a ya que puede ser poco eficiente. Tambien existen otros modos posibles de apertura de archivos:

- r+ : Lectura y Escritura, No se puede truncar el archivo.
- w+ : Escritura y Lectura, Se trunca el archivo
- a+ : Agregar y Lectura, Crea un nuevo archivo si no exitste

In [30]:
with open('Example2.txt', 'a+') as pruebaModos:
    pruebaModos.write("Esta Es la Quinta Linea\n")
    print(pruebaModos.read())

Read no produjo ningun resultado, esto es debido al modo a+ y donde lee el archivo, este metodo funciona como un puntero.
Abrir un archivo en modo w implica abrir un archivo y mover el cursor al inicio de este. Escribiendo texto nuevo y borrando todo lo que sigue despues. 
Mientras que abrir en a es similar a abrir un archivo, mover el cursor al final y despues agregar lo nuevo.

Es por esto que es util saber donde se encuentra el cursor en un archivo y poder controlarlo. Para eso se utilizan los siguientes metodos:

- .tell() - Nos muestra la posicion actual en bytes 
- .seek(offset,from) - Cambia la posiion mediante el parametro 'offset' (en bytes) con respecto al parametro 'from'. Este ultimo puede tomar el valor de 0, 1, 2 correspondientes a principio, relativo a la posicion actual o final.

In [32]:
with open('Example4.txt', 'a+') as pruebaDeModos:
    print("Posicion Inicial: {}".format(pruebaDeModos.tell()))
    
    datos = pruebaDeModos.read()
    if (not datos):  # Las cadenas vacias regresan falso en python
            print('No lee Nada') 
    else: 
            print(pruebaDeModos.read())
            
    pruebaDeModos.seek(0,0) # Nos movemos 0 bytes desde el principio
    
    print("\nNueba Ubicacion : {}".format(pruebaDeModos.tell()))
    datos = pruebaDeModos.read()
    if (not datos): 
            print('No lee Nada') 
    else: 
            print(datos)
    
    print("Posicion despues de leer: {}".format(pruebaDeModos.tell()) )

Posicion Inicial: 15
No lee Nada

Nueba Ubicacion : 0
This is line E

Posicion despues de leer: 15

Al usar r+, puede ser recomendable agreegar un .truncate() al final de los datos. Esto reducira el archivo al tamaño de nuestros datos y borrara todo lo que le sigue.

In [36]:
with open('Example4.txt', 'r+') as pruebaDeModos2:
    datos = pruebaDeModos2.readlines()
    pruebaDeModos2.seek(0,0) #write at beginning of file
   
    pruebaDeModos2.write("Linea 1" + "\n")
    pruebaDeModos2.write("Linea 2" + "\n")
    pruebaDeModos2.write("Linea 3" + "\n")
    pruebaDeModos2.write("Terminado\n")
    pruebaDeModos2.truncate()
    pruebaDeModos2.seek(0,0)
    print(pruebaDeModos2.read())

Linea 1
Linea 2
Linea 3
Terminado

## CARGA DE DATOS CON PANDAS
Pandas es una libreria popular para el analisis de datos. Para usar Pandas, debemos importar la libreria mediante el comando import

In [37]:
import pandas as pd

Una vez importada la libreria nos da accesso a todos los metodos de ella. Entre algunos de los metodos mas importantes de pandas estan:

- read_csv()
- Series()
- DataFrame
- values

In [73]:
#Read CSV nos permite leer datos de un archivo de tipo CSV, creando un dataFrame, un tipo de dato de pandas para el analisis de datos.
df = pd.read_csv("TopSellingAlbums.csv")

In [74]:
df.head() #El metodo head, nos despliega los primeros 5 lineas de datos por default.

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

Tambien podemos leer archivos de excel mediante el comando *read_excel(xlsx_path)

Podemos crear un DataFrame de un diccionario. Las keys corresponden a las etiquetas de las columnas y los valores del diccionario corresponden a las filas de datos.

In [44]:
canciones = {
    'Album': ['Thriller', 'Back In Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell'],
    'Publicacion': [1982, 1980, 1973, 1992, 1977],
    'Duracion': ['00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33']
}

df_Canciones = pd.DataFrame(canciones)
df_Canciones.head()

                       Album  Publicacion  Duracion
0                   Thriller         1982  00:42:19
1              Back In Black         1980  00:42:11
2  The Dark Side of the Moon         1973  00:42:49
3              The Bodyguard         1992  00:57:44
4            Bat Out of Hell         1977  00:46:33

Tambiem podemos crear Dataframes a partir de columnas de otro

In [45]:
fromDF = df_Canciones[['Publicacion']]
fromDF.head()

   Publicacion
0         1982
1         1980
2         1973
3         1992
4         1977

In [47]:
multipleColDf = df[['Album', 'Length', 'Genre']]
multipleColDf.head()

                       Album   Length                        Genre
0                   Thriller  0:42:19               pop, rock, R&B
1              Back in Black  0:42:11                    hard rock
2  The Dark Side of the Moon  0:42:49             progressive rock
3              The Bodyguard  0:57:44               R&B, soul, pop
4            Bat Out of Hell  0:46:33  hard rock, progressive rock

Se puede acceder a elementos particulares de un DataFrame mediante el metodo *'iloc'*

In [54]:
print("Album: " +  multipleColDf.iloc[0,0] + " Genre: " + multipleColDf.iloc[0,2])

Album: Thriller Genre: pop, rock, R&B

Tambien se puede acceder a elementos con el metodo loc[index, NombreDeLaColumna]

In [55]:
print("Album: " +  multipleColDf.loc[0,'Album'] + " Genre: " + multipleColDf.loc[0,'Genre'])

Album: Thriller Genre: pop, rock, R&B

Podemos hacer slicing usando el indice y el nombre de la columna

In [56]:
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [61]:
multipleColDf.iloc[5:8, 1:3]

    Length                       Genre
5  0:43:08  rock, soft rock, folk rock
6  1:15:54                       disco
7  0:40:01                   soft rock

In [62]:
multipleColDf.loc[3:6, 'Album':'Length']

                             Album   Length
3                    The Bodyguard  0:57:44
4                  Bat Out of Hell  0:46:33
5  Their Greatest Hits (1971-1975)  0:43:08
6             Saturday Night Fever  1:15:54

## TRABAJANDO Y GUARDANDO DATOS CON PANDAS

Podemos buscar los elementos unicos en una columna mediante el metodo UNIQUE

In [75]:
df['Released'].unique()

array([1982, 1980, 1973, 1992, 1977, 1976])

Podemos trabajar con Condiciones logicas con los dataFrames

In [78]:
df['Released'] >= 1980 # Obtendremos un dataframe con valores booleanos

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool

Podemos seleccionar las columnas especificas a estas operaciones. 
Solo tenemos que especificar el nombre del Dataframe original,
Entre Corchetes ponemos la condicion especificada
Y la asignamos a una nueva variable.

In [79]:
dfSub = df[df['Released']>=1980]
dfSub

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5

Finalmente podemos guardar el Nuevo Dataframe a un Archivo CSV mediante el metodo *to_csv()*

In [80]:
dfSub.to_csv("BooleanDataFrame.csv")

## EJERCICIOS Y EXAMEN DEL MODULO 4

In [64]:
q = df[['Released','Artist']] # EJERCICIO DE LAB
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [65]:
df.iloc[1,2] #Ejercicio de LAB

1980

In [68]:
new_index=['a','b','c','d','e','f','g','h'] # EJERCICIO DE LAB
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

In [76]:
dfTest=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]}) #EJERCICIO DE LAB
dfTest['a'] == 1

0     True
1    False
2     True
Name: a, dtype: bool

In [82]:
with open("Example1.txt","r") as file1:

    FileContent=file1.readlines()

    print(FileContent)

['This is line 1 \n', 'This is line 2\n', 'This is line 3']

In [83]:
with open("Example5.txt","w") as writefile:

    writefile.write("This is line A\n")

    writefile.write("This is line B\n")

In [84]:
with open("Example5.txt","a") as file1:

    file1.write("This is line C\n")