Tuples are sequences, similar to lists as such that they both use index notation to access their elements. The difference between them is that tuples are not mutable

In [14]:
tuple1 = ("disco",10,1.2 )
print(tuple1)

('disco', 10, 1.2)

In [15]:
type(tuple1)

tuple

In [16]:
# We can access through an index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [17]:
# We can use negative index to get the value of the last element. -2 will get the next to last and so on

tuple1[-1]

1.2

We can concatenate tuples by adding the addition sign to 2 or more tuples, they will be put in a single tuple as a result

In [18]:
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

Slicing is used to retrieve the elements from a tuple/list/set. 
The first position indicates the starting point,
The second position indicates the endpoint,
The last position indicates the distance in each jump.

In [19]:
name = 'Lizz'

In [20]:
print(name[0:2])

Li

In [21]:
var = '01234567'
print(var[::2])

0246

In [22]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

Nesting is the proccess in which a tuple can contain another tuple as well as other more complex data types.

In [23]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [24]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [25]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

Lists are a collection of different objects in python. As well as the tuples they can be accessed through an index which represent the memory address of the list object.

In [26]:
# Create a list

L = ["Memo", 37, 12.12, True, ['Ilse', 9]]
L

['Memo', 37, 12.12, True, ['Ilse', 9]]

In [27]:
# Print element on each index

print("Element 0 of List: ", L[0])
print("Element 1 of List: ", L[1])
print("Element 2 of List: ", L[2])
print("Element 3 of List: ", L[3])
print("Element 4 of List: ", L[4])

Element 0 of List:  Memo
Element 1 of List:  37
Element 2 of List:  12.12
Element 3 of List:  True
Element 4 of List:  ['Ilse', 9]

In [29]:
print("Element 4, 0 of List: ",   L[4][0])
print("Element 4, 1 of List: ",   L[4][1])

Element 4, 0 of List:  Ilse
Element 4, 1 of List:  9

Append is used to add 1 element at the end of the List
Extend is used to add multiple elements to the List

In [40]:
L.append('Rouse')
L.extend(['Vero', 52])
L.append(['Ursus', 40])
L

['Memo', 37, 12.12, True, ['Ilse', 9], 'Rouse', 'Vero', 52, ['Ursus', 40]]

As List are mutable, we can change the content of an element inside the list by directly accessing the Element

In [42]:
print("List Before: ", L)
L[3] = False
print("List After: ", L)

List Before:  ['Memo', 37, 12.12, True, ['Ilse', 9], 'Rouse', 'Vero', 52, ['Ursus', 40]]
List After:  ['Memo', 37, 12.12, False, ['Ilse', 9], 'Rouse', 'Vero', 52, ['Ursus', 40]]

We can convert a string to a list using split. For example, the method split translates every group of characters separated by a space into an element in a List

In [43]:
L2 = "Hello! World, Im Memo 37".split()
L2

['Hello!', 'World,', 'Im', 'Memo', '37']

The split default parameter is the space, but we can use any character and convert a string/word into a list

In [44]:
L3 = "1,2,3,4,5".split(',')
L3

['1', '2', '3', '4', '5']

In python if we create a variable equal to another, we are creating a reference. So if any variable changes value the other(reference) will change too

In [49]:
A = [50, 'Memo', True]
B = A

In [50]:
print('A Before: ',A)
print('B Before: ',B)
A[1] = 37
print('A After: ',A)
print('B After: ',B)

A Before:  [50, 'Memo', True]
B Before:  [50, 'Memo', True]
A After:  [50, 37, True]
B After:  [50, 37, True]

We can clone a list into a second variable using slicing

In [51]:
C = A[:]
print('A Before: ',A)
print('C Before: ',C)
A[0] = 'Memo'
print('A After: ',A)
print('C After: ',C)

A Before:  [50, 37, True]
C Before:  [50, 37, True]
A After:  ['Memo', 37, True]
C After:  [50, 37, True]

A dictionary is an object of key-value pairs, The keys represents the 'index' for this data type.

In [55]:
dict1 = {
    'Name': 'Memo',
    'Age': 31,
    'School': 'Tec de Monterrey',
    'Master': 'MNA',
    'isStudent': True,
    'Grade': 98.6
}
dict1

{'Name': 'Memo',
 'Age': 31,
 'School': 'Tec de Monterrey',
 'Master': 'MNA',
 'isStudent': True,
 'Grade': 98.6}

In [56]:
dict1['Name']

'Memo'

To add Elements to a dictionary, you can only pass the key and the value you want to add.

In [57]:
dict1['DataScience'] = False
dict1

{'Name': 'Memo',
 'Age': 31,
 'School': 'Tec de Monterrey',
 'Master': 'MNA',
 'isStudent': True,
 'Grade': 98.6,
 'DataScience': False}

You can retrieve all the keys and all the values through some built in methods

In [58]:
print('Keys: ', dict1.keys())
print('Values: ', dict1.values())

Keys:  dict_keys(['Name', 'Age', 'School', 'Master', 'isStudent', 'Grade', 'DataScience'])
Values:  dict_values(['Memo', 31, 'Tec de Monterrey', 'MNA', True, 98.6, False])

We can verify if a key is included in the dictionario with the reserved word 'in'

In [60]:
'Name' in dict1

True