In [1]:
import pandas as pd
import numpy as np
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [6]:
df = pd.DataFrame({'a': [1,2,3,4,5,6]})
df.head()

   a
0  1
1  2
2  3
3  4
4  5

In [7]:
df.rename(columns={'a':'b'})
df.head()

   a
0  1
1  2
2  3
3  4
4  5

In [8]:
df['price'] = [10,11,12,13,14,15]
df.head()

   a  price
0  1     10
1  2     11
2  3     12
3  4     13
4  5     14

In [9]:
df['price'] = df['price'].astype(int)
df['price']

0    10
1    11
2    12
3    13
4    14
5    15
Name: price, dtype: int64